absl-py==0.10.0
aio-pika==6.7.1
aiofiles==0.6.0
aiohttp==3.6.3
aiormq==3.3.1
alembic==1.4.3
altair==4.1.0
apscheduler==3.6.3
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
backcall==0.2.0
base58==2.0.1
bleach==3.2.1
blinker==1.4
boto3==1.16.0
botocore==1.19.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
configargparse==0.13.0
configparser==5.0.1
contextvars==2.4
cryptography==2.9.2
cycler==0.10.0
cython==0.29.21
dartsclone==0.9.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
dm-tree==0.1.5
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.3
enum-compat==0.0.3
fbmessenger==6.0.0
filelock==3.0.12
flask-cors==3.0.9
flask==1.1.2
future==0.18.2
gast==0.3.3
gevent==1.5.0
gitdb==4.0.5
gitpython==3.1.9
google-auth-oauthlib==0.4.1
google-auth==1.22.1
google-pasta==0.2.0
greenlet==0.4.17
grpcio==1.32.0
h11==0.9.0
h5py==2.10.0
hdbscan==0.8.26
httpcore==0.11.1
httplib2==0.18.1
httptools==0.1.1
httpx==0.15.4
humanfriendly==9.0
idna-ssl==1.1.0
idna==2.10
imageio==2.9.0
immutables==0.14
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.16.1
ipywidgets==7.5.1
isodate==0.6.0
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
json5==0.9.5
jsonpickle==1.4.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab==2.2.8
kafka-python==1.4.7
keras-preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
mako==1.1.3
markdown==3.3.1
markupsafe==1.1.1
matplotlib==3.3.3
mattermostwrapper==2.2
mccabe==0.6.1
mistune==0.8.4
multidict==4.7.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
networkx==2.5
nltk==3.5
notebook==6.1.4
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==20.4
pamqp==2.3.0
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pika==1.1.0
pillow==8.0.0
pip==20.3.3
pkg-resources==0.0.0
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.13.0
psutil==5.7.2
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyarrow==2.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydeck==0.5.0b1
pydot==1.4.1
pygments==2.7.1
pyjwt==1.7.1
pykwalify==1.7.0
pylint==2.6.0
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.2
python-socketio==4.6.1
python-telegram-bot==12.8
pytz==2020.1
pyvi==0.1
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.2
questionary==1.5.2
rasa-core-sdk==0.14.0
rasa-sdk==2.1.2
rasa-x==0.33.2
rasa==2.0.2
redis==3.5.3
regex==2020.9.27
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.24.0
rfc3986==1.4.0
rocketchat-api==1.9.1
rsa==4.6
ruamel.yaml.clib==0.2.2
ruamel.yaml==0.16.12
s3transfer==0.3.3
sacremoses==0.0.43
sanic-cors==0.10.0.post3
sanic-jwt==1.4.1
sanic-plugins-framework==0.9.4.post1
sanic==20.9.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.3
seaborn==0.11.0
send2trash==1.5.0
sentencepiece==0.1.91
sentry-sdk==0.19.1
seqeval==1.2.2
setuptools==50.3.2
shortuuid==1.0.1
simpletransformers==0.48.14
six==1.15.0
sklearn-crfsuite==0.3.6
sklearn==0.0
slackclient==2.9.3
smmap==3.0.4
sniffio==1.2.0
sortedcontainers==2.1.0
spark-nlp-jsl==2.7.1
spark-nlp==2.6.4
sqlalchemy==1.3.20
streamlit==0.69.2
subprocess32==3.5.4
sudachipy==0.4.9
tabulate==0.8.7
tensorboard-plugin-wit==1.7.0
tensorboard==2.3.0
tensorboardx==2.1
tensorflow-addons==0.11.2
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-hub==0.9.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
tensorflow==2.3.1
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
tokenizers==0.8.1rc2
toml==0.10.1
toolz==0.11.1
torch==1.6.0+cu101
torchvision==0.7.0+cu101
tornado==6.0.4
tqdm==4.50.2
traitlets==4.3.3
transformers==3.3.1
twilio==6.45.4
typed-ast==1.4.1
typeguard==2.10.0
typing-extensions==3.7.4.3
typing==3.7.4.3
tzlocal==2.1
ujson==1.35
underthesea==1.2.3
unidecode==1.1.1
urllib3==1.25.11
uvloop==0.14.0
validators==0.18.1
wandb==0.10.7
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
websockets==8.1
werkzeug==1.0.1
wget==3.2
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.5.1
zipp==3.3.1